<!--

Basic default logback configuration for QTIWorks Engine.

(You can select a custom configuration to use within the webapp
if you prefer. See the documentation.

-->
<configuration debug="false">

  <!-- Create basic appender sending messages to STDOUT -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%-5level %date [%logger{0}/%line#%method\(\)] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="uk.ac.ed.ph.qtiworks.manager" level="info"/>
  <logger name="uk.ac.ed.ph.qtiworks.services.DataDeletionService" level="info"/>

  <!-- Root logger -->
  <root level="warn">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
