/* (This is a severely cut down version of the CSS of the same name that's used
 * on the School website, and represents normal body elements that would
 * normally be edited via a rich text editor.)
 */

/* ======================================================================== */

/* (Reset styles in the same way as main stylesheet so that things work
 * properly within the CKEditor)
 */

body {
  font: 13px arial, helvetica, clean, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* ======================================================================== */

/* Paragraph styles */
p {
  font-size: 100%; /* 13px*/
  margin: 1em 0;
}

/* List Styles */
ul {
  padding: 0 0 0 15px;
  list-style: square;
}

/* h1 + ul {float: left; width: 100%; padding-bottom: 15px;} */
ol {
  padding: 0 0 0 15px;
  margin-left: 5px;
}

ul li,
ol li {
  padding: 0;
}

/* Heading levels */
h1 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 167%; /* 22px */
  color: #24476b;
  width: 100%;
  font-style: normal;
}

h2 {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  font-size: 153.9%; /* 20px */
  color: #24476b;
}

h3 {
  padding-top: 0.5em;
  font-size: 123.1%; /* 16px */
  color: #24476b;
}

h4 {
  padding-top: 0.5em;
  font-size: 108%; /* 14px */
  color: #24476b;
}

h5 {
  padding-top: 0.25em;
  font-size: 93%; /* 12px */
  font-weight: bold;
}

h6 {
  padding-top: 0.25em;
  font-size: 93%; /* 12px */
  font-style: italic;
}
