/* Rendering stuff for both tests and items */

body {
  margin: 0;
  padding: 0;
}

/* Author control */

.qtiworksAuthorControl {
  margin: 1em;
  color: #666666;
  font-size: smaller;
}

/* Internal State / Debugging */

.qtiworksDebugging {
  margin: 1em;
  color: #666666;
  font-size: smaller;
}

.qtiworksDebugging a:hover {
  text-decoration: underline;
}

.qtiworksDebugging .internalState .variableName {
  font-weight: bold;
}

.qtiworksDebugging .internalState li li .variableName {
  font-weight: normal
}

.qtiworksDebugging .internalState .type {
  font-style: italic;
}

.qtiworksDebugging .internalState .debugButton {
  font-size: smaller;
}

.qtiworksDebugging .internalState .debugMathsContent {
  display: none;
}
