/* (This provides basic styling for the rendered content of items) */

.qtiworksRendering .assessmentItem {
  padding: 0.5em 0.5em 3em 0.5em;
  border-bottom: 1px solid #ccc;
}

.qtiworksRendering .assessmentItem div.badResponse,
.qtiworksRendering .assessmentItem span.badResponse {
  color: red;
  font-weight: bold;
}

.qtiworksRendering .assessmentItem input.badResponse {
  border: 1px solid red;
}

.qtiworksRendering .assessmentItem div.controls {
  margin: 0.5em 0;
}

.qtiworksRendering .assessmentItem .validation,
.qtiworksRendering .assessmentItem .flash {
  font-weight: bold;
  color: red;
  background-color: inherit;
}

.qtiworksRendering .assessmentItem .box-title {
  display:none;
}

/************************************************************/

.qtiworksRendering .assessmentItem .infoControl input {
  margin-right: 0.5em;
}

.qtiworksRendering .assessmentItem .infoControl .infoControlContent {
  display: none;
}

/************************************************************/

.qtiworksRendering .assessmentItem .sliderInteraction {
  margin: 1em;
}

.qtiworksRendering .assessmentItem .sliderInteraction .sliderVertical {
}

.qtiworksRendering .assessmentItem .sliderInteraction .sliderVertical .sliderValue {
  margin: 1em 0;
}

.qtiworksRendering .assessmentItem .sliderInteraction .sliderVertical .sliderWidget {
  height: 200px;
}

.qtiworksRendering .assessmentItem .sliderInteraction .sliderHorizontal .sliderValue {
  text-align: center;
}

/************************************************************/

.qtiworksRendering .assessmentItem div.orderInteraction div.highlight {
  border: 1px solid red;
}

.qtiworksRendering .assessmentItem div.orderInteraction div.box {
  background-color: #eeeeee;
}

.qtiworksRendering .assessmentItem div.orderInteraction div.box span.info {
  margin-left: 1em;
  color: #666666;
  font-style: italic;
  font-size: smaller;
}

.qtiworksRendering .assessmentItem div.orderInteraction div.box.horizontal {
  margin: 0.5em 0;
  width: 100%;
}

.qtiworksRendering .assessmentItem div.orderInteraction ul.horizontal {
  float: left;
  margin: 0 1em;
  padding: 1em 0;
  width: 100%;
}

.qtiworksRendering .assessmentItem div.orderInteraction div.box.vertical {
  margin: 1em 0;
  width: 49%;
}

.qtiworksRendering .assessmentItem div.orderInteraction div.box.vertical.source {
  float: left;
}

.qtiworksRendering .assessmentItem div.orderInteraction div.box.vertical.target {
  float: right;
}

.qtiworksRendering .assessmentItem div.orderInteraction ul.vertical {
  margin: 0 1em;
  padding: 1em 0;
  width: auto;
}

.qtiworksRendering .assessmentItem div.orderInteraction ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.qtiworksRendering .assessmentItem div.orderInteraction ul li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1em;
}

.qtiworksRendering .assessmentItem div.orderInteraction ul li span {
  position: absolute;
  margin-left: -1.3em;
}

.qtiworksRendering .assessmentItem div.orderInteraction ul.horizontal li {
  float: left;
  width: auto;
}

.qtiworksRendering .assessmentItem div.orderInteraction br {
  clear: both;
}

/************************************************************/

.qtiworksRendering .assessmentItem .hottext {
  font-weight: bold;
}

.qtiworksRendering .assessmentItem .gap {
  font-weight: bold;
  border: 1px dashed #000;
}

/************************************************************/

/* MathEntryInteraction styling for MathAssess */
.qtiworksRendering .assessmentItem .mathEntryInteraction {
  border: 1px solid #eeeeee;
  background-color: #f7faf7;
  -moz-border-radius: 0.4em;
  padding: 1em;
  margin: 0.5em 0;
  min-height: 5em;
  width: 40em;
}

.qtiworksRendering .assessmentItem .mathEntryInteraction .inputPanel {
  width: 45%;
  float: left;
  line-height: 1em;
  margin: 2em 0;
  text-align: left;
}

.qtiworksRendering .assessmentItem .mathEntryInteraction .inputPanel a {
  display: block;
  float: left;
  padding: 0;
  margin: 2px 0;
  height: 1em;
  width: 18px;
  background: url(../images/help.png) center no-repeat;
}

.qtiworksRendering .assessmentItem .mathEntryInteraction .inputPanel a:hover {
  cursor: help;
  background-color: transparent !important;
}

.qtiworksRendering .assessmentItem .mathEntryInteraction .inputPanel input {
  margin: 0;
  padding: 0;
  x-height: 1em;
  x-margin: 2em 0;
  x-vertical-align: middle;
}

.qtiworksRendering .assessmentItem .mathEntryInteraction .previewPanel {
  margin-left: 40%;
  width: 50%;
  text-align: center;
}

.qtiworksRendering .assessmentItem div.upConversionAjaxControlMessage {
  width: auto;
  text-align: center;
  display: inline;
  padding: 0.5em 0 0.5em 20px;
}

.qtiworksRendering .assessmentItem div.waiting {
  background: url(../images/spinner.gif) no-repeat center left;
}

.qtiworksRendering .assessmentItem div.success {
  background: url(../images/accept.png) no-repeat center left;
}

.qtiworksRendering .assessmentItem div.failure {
  background: url(../images/cancel.png) no-repeat center left;
}

.qtiworksRendering .assessmentItem div.error {
  background: url(../images/exclamation.png) no-repeat center left;
}

.qtiworksRendering .assessmentItem div.upConversionAjaxControlError {
}

.qtiworksRendering .assessmentItem div.upConversionAjaxControlPreview {
  margin: 0.5em 0;
  font-size: 110%;
}

/************************************************************/
/* Help for Math Input */

.qtiworksRendering .assessmentItem table.inputHelp {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

.qtiworksRendering .assessmentItem table.inputHelp th {
  border: 1px solid #999999;
  padding: 0.2em 0.5em;
  background-color: #cad8e5;
}

.qtiworksRendering .assessmentItem table.inputHelp td {
  color: #999999;
  border: 1px solid #999999;
  padding: 0.2em 0.5em;
}

.qtiworksRendering .assessmentItem table.inputHelp kbd {
  color: black;
  font-size: 100%;
  line-height: 100%;
}

.qtiworksRendering .assessmentItem table.inputHelp .longComma {
  margin-right: 0.5em;
}

/************************************************************/
/* Feedback */

.qtiworksRendering .feedbackInline,
.qtiworksRendering .feedbackBlock,
.qtiworksRendering .modalFeedback {
  background-color: #cad8e5;
  border: 1px solid #ffd8e5;
  margin: 0.5em 0;
  padding: 0.5em;
}

.qtiworksRendering .feedbackInline {
  line-height: 2.5em;
}

