/* COPIED FROM MAE - KEPT FOR REFERENCE WHILE REFACTORING TEST RENDERING */

/* (This provides full rendering of assessmentTests) */

.qtiworksRendering .assessmentTest {
    font-family: verdana, sans-serif;
    font-size: small;
    text-align: center;
    width:100%;
    padding:0px;
    margin:0px;
}

.qtiworksRendering .assessmentTest #body-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.qtiworksRendering .assessmentTest .outer-box {
    border: thin solid #A9A9A9;
    text-align: left;
}
.qtiworksRendering .assessmentTest .box-title {
    display:inline;
    font-size: xx-small;
    color: #A9A9A9;
    padding:10px;
    background-color:inherit
}
.qtiworksRendering .assessmentTest .inner-box {
    border: thin dashed #A9A9A9;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px
}
.qtiworksRendering .assessmentTest .feedback_assessmentTest {
}
.qtiworksRendering .assessmentTest .feedback_qtiworksRendering .assessmentTestPart {
    font-style: italic;
}
.qtiworksRendering .assessmentTest .feedback_title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.qtiworksRendering .assessmentTest .validation,
.qtiworksRendering .assessmentTest .flash {
    font-weight: bold;
    color: red;
    background-color:inherit;
}

.qtiworksRendering .assessmentTest img, .qtiworksRendering .assessmentTest applet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.qtiworksRendering .assessmentTest h1 {
    font-size: large;
}

.qtiworksRendering .assessmentTest h2 {
    display: block;
    color: white;
    font-size: medium;
    background-color: #535C75;
}
.qtiworksRendering .assessmentTest #controls {
    height: 50px;
    float: right;
}
.qtiworksRendering .assessmentTest .spacer {
    height: 5px;
    clear:both;
}
