<?xml version="1.0" encoding="UTF-8"?>
<!--

$Id: log4j.xml 2742 2011-07-05 10:01:32Z davemckain $

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- Create usual appender sending messages to STDOUT -->
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{ISO8601}] (%t) [%c{1}/%L#%M()] - %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="TRACE"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <!-- Root logger -->
  <root>
    <level value="WARN"/>
    <appender-ref ref="STDOUT"/>
  </root>

</log4j:configuration>
