<?xml version="1.0"?>
<!--

Web deployment descriptor

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

  <display-name>QTIWorks</display-name>
  <description>QTIWorks Delivery Engine</description>

  <!-- Root ApplicationContext bootstrap -->
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      uk.ac.ed.ph.qtiworks.config.JpaProductionConfiguration
      uk.ac.ed.ph.qtiworks.config.BaseServicesConfiguration
      uk.ac.ed.ph.qtiworks.config.ServicesConfiguration
      uk.ac.ed.ph.qtiworks.config.WebApplicationConfiguration
    </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- This global filter makes sure we carefully log any Exceptions that might happen -->
  <filter>
    <filter-name>ExceptionLoggingFilter</filter-name>
    <filter-class>uk.ac.ed.ph.qtiworks.web.ExceptionLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- This global filter sets a timestamp for the current request -->
  <filter>
    <filter-name>RequestTimestampFilter</filter-name>
    <filter-class>uk.ac.ed.ph.qtiworks.web.RequestTimestampFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestTimestampFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- ========== INSTRUCTOR SERVICES ========== -->

  <!-- Authentication filter for instructor-only resources -->
  <filter>
    <filter-name>InstructorAuthenticationFilter</filter-name>
    <filter-class>uk.ac.ed.ph.qtiworks.web.authn.InstructorFakeAuthenticationFilter</filter-class>
    <!--
    Allowed target values for the above placeholder are:
    <filter-class>uk.ac.ed.ph.qtiworks.web.authn.InstructorFormAuthenticationFilter</filter-class>
    <filter-class>uk.ac.ed.ph.qtiworks.web.authn.InstructorFakeAuthenticationFilter</filter-class>
    -->
    <!-- Params for InstructorFormAuthenticationFilter (if used) -->
    <init-param>
      <param-name>formLoginJspPath</param-name>
      <param-value>/WEB-INF/jsp/login/instructorLogin.jsp</param-value>
    </init-param>
    <!-- Params for InstructorFakeAuthenticationFilter (if used) -->
    <init-param>
      <param-name>fakeLoginName</param-name>
      <param-value>dmckain</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>InstructorAuthenticationFilter</filter-name>
    <url-pattern>/web/instructor/*</url-pattern>
    <url-pattern>/instructor/*</url-pattern>
  </filter-mapping>

  <!-- Servlet to handle instructor authentication (only used when using form) -->
  <servlet>
    <servlet-name>InstructorFormAuthenticator</servlet-name>
    <servlet-class>uk.ac.ed.ph.qtiworks.web.authn.InstructorFormAuthenticationServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
    <init-param>
      <param-name>formLoginErrorJspPath</param-name>
      <param-value>/WEB-INF/jsp/login/instructorLoginError.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorFormAuthenticator</servlet-name>
    <url-pattern>/instructorFormAuthenticator</url-pattern>
  </servlet-mapping>

  <!-- Dispatcher for instructor functionality -->
  <servlet>
    <servlet-name>InstructorDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        uk.ac.ed.ph.qtiworks.config.InstructorMvcConfiguration
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorDispatcher</servlet-name>
    <url-pattern>/web/instructor/*</url-pattern>
  </servlet-mapping>

  <!-- ========== PUBLIC ACCESS SERVICES ========== -->

  <!-- "Authentication" filter for anonymous/public services -->
  <filter>
    <filter-name>AnonymousAuthenticationFilter</filter-name>
    <filter-class>uk.ac.ed.ph.qtiworks.web.authn.AnonymousAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AnonymousAuthenticationFilter</filter-name>
    <url-pattern>/dispatcher/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AnonymousAuthenticationFilter</filter-name>
    <url-pattern>/web/public/*</url-pattern>
  </filter-mapping>

  <!-- Dispatcher for public web functionality -->
  <servlet>
    <servlet-name>PublicDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        uk.ac.ed.ph.qtiworks.config.PublicMvcConfiguration
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDispatcher</servlet-name>
    <url-pattern>/web/public/*</url-pattern>
  </servlet-mapping>

</web-app>
